<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Adding Books</title>
    <style>
      .container {
        width: 400px;
        margin: auto;
        text-align: center;
      }
      .col-12 {
        display: flex;
        justify-content: center;
        text-align: center;
      }
      h1
      {
        text-align: center;
      }
      table {
        width: 100%;
      }
      table,
      th,
      td,
      input,
      textarea {
        border: 2px solid black;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h3>Library Management</h3>
      <hr />
      <div class="col-12">
        <h4><a href="/">Home</a></h4>
        &nbsp;&nbsp;<h4> | </h4>&nbsp;&nbsp;
        <h4><a href="/search">Search</a></h4>
      </div>
      <hr />
      <h1>No Data</h1>
  </body>
</html>
